@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 343px;
  width: 100%;
  height: 404px;

  margin-top: 23px;
  margin-bottom: 47px;
}

.heroImg {
  position: absolute;
  z-index: 1;
  width: 248px;
  aspect-ratio: 4 / 3;
  object-fit: contain;
  top: -73px;
}

.cardWrapper {
  padding: 16px;
  width: 100%;
  height: 404px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  padding-top: 128px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skeletonLabelPromo {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 96px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
}
