@import '../../abstract/colors';
@import '../../abstract/mixins';

.wrapper {
  background-color: #{$shades-grey-5};
  padding: 2px 16px;
}

.gap {
  height: 24px;
}

@include lg {
  .container {
  }

  .content {
  }
}
