@import '../../abstract/colors';
@import '../../abstract/mixins';

.wrapper {
  background-color: #{$shades-grey-5};
  padding: 24px 0px;
}

.gap {
  height: 24px;
}
.wrapperSeoText {
  padding: 0px 16px;
}
.spesification {
  padding: 16px;
  background-color: #{$primary-white};
  border-radius: 8px;
  margin: 0px 16px;
}

.heading {
  display: flex;
  align-items: center;
}

.iconInfo {
  padding-right: 8px;
}

.textHeading {
  color: #{$primary-black};
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.textTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #{$primary-black};
  margin-top: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.textKey {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #{$shades-grey-75};
  width: 50%;
  margin-right: 8px;
}

.textValue {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #{$primary-black};
  width: 50%;
}

.separator {
  width: 100%;
  height: 2px;
  margin-top: 16px;
  background-color: #{$shades-sky-blue-10};
}

@include lg {
  .spesification {
    padding: 24px;
  }
  .textHeading {
    font-size: 20px;
    line-height: 32px;
  }

  .textTitle {
    font-size: 16px;
    line-height: 24px;
  }

  .textKey {
    font-size: 16px;
    line-height: 24px;
  }

  .textValue {
    font-size: 16px;
    line-height: 24px;
  }
}
