.wrapper-as {
  width: 100%;
  background-color: #f2f5f9;
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.mobile-checkbox-as {
  @media (min-width: 1025px) {
    display: none;
  }
}

.desktop-checkbox-as {
  @media (max-width: 1024px) {
    display: none;
  }
}

.content-wrapper-as {
  width: 100%;
  padding: 60px 188px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 1024px) {
    gap: 10px;
    padding: 60px 17px;
  }
}

.title-as {
  float: left;
  font-family: var(--kanyon-bold);
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 39.2px;
  letter-spacing: 0px;
  color: #031838;

  @media (min-width: 1025px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.subtitle-as {
  color: #52627a;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22.4px;

  @media (min-width: 1025px) {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

.input-wrapper-as {
  display: flex;
  gap: 20px;
  margin-top: 24px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 0px;
    margin-top: 0px;
  }
}

.input-container-as {
  margin-bottom: 10px;
  margin-right: 10px;
}

.form-phonenumber-wrapper-as {
  width: 100%;
  margin-bottom: 10px;
}

.checkbox-as {
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (max-width: 1024px) {
    align-items: start;
  }
}

.checkbox-text-as {
  color: #52627a;
  margin-left: 8px;
  text-align: left;
  font-family: var(--open-sans);
  font-style: normal;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0px;

  @media (min-width: 1025px) {
    font-size: 16px;
  }
}

.tablet-as {
  display: flex;
  flex-direction: row;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.tablet-wa-as {
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
