@import '../../abstract/colors';
@import '../../abstract/mixins';

.alternativeCarWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow-x: auto;
  gap: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cardWrapper {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 162px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #{$shades-grey-10};
  background: #{$primary-white};
  justify-content: center;
  padding: 0px 12px;
}

.swiperWrapper {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 162px;
  height: 64px;
}

.cardTitle {
  font-family: var(--open-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;
}

.cardDesc {
  color: #{$shades-grey-75};
  font-family: var(--open-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  align-self: stretch;
}

.wrapper {
  padding: 16px;
  position: relative;
  height: 100%;
}

.wrapperMain {
  width: 100%;
  position: relative;
  height: 100%;
  margin-bottom: 5px;
}

.wrapperTitle {
  color: #{$primary-dark-blue};
  font-family: var(--kanyon);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
}

.wrapperMain {
  width: calc(100% - 69px);
  position: relative;
  height: 100%;
}

.thumbsSwiper {
  height: auto;
  max-height: 208px !important;
  align-items: center;
  justify-content: center;
}

.mainImage {
  width: 100%;
  height: 207px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.previewSubImageWrapper {
  width: auto !important;
  display: flex;
}

.subImageWrapper {
  width: 61px;
  height: 46px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 6px 14px 1px rgba(76, 82, 95, 0.08);
}

.coverSubImage {
  width: 61px;
  position: absolute;
  height: 46px;
  background-color: #000000;
  opacity: 0.4;
  border-radius: 8px;
}

.subImage {
  border-radius: 8px;
  object-fit: cover;
}

.active {
  border: 1px solid #{$secondary-blue};
}
