@import '../../abstract/colors';

.styledWrapper {
  background: #{white};
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styledContentWrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.styledDataSuggest {
  margin-top: 7px;
  width: 100%;
  margin-left: 0vw;
  border-radius: 16px;
  height: auto;
  max-height: 600px;
  background-color: #{white};
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  z-index: 99;

  &::-webkit-scrollbar {
    display: none;
  }
}

.styledDataResult {
  margin-top: 7px;
  width: 100%;
  margin-left: 0vw;
  border-radius: 16px;
  height: auto;
  max-height: 600px;
  background-color: #{white};
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  z-index: 99;

  &::-webkit-scrollbar {
    display: none;
  }
}

.styledLink {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: black;
  margin: 8px;
  line-height: 22px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding: 8px;

  &:hover {
    border-radius: 8px;
    background-color: #{$shades-sky-blue-30};
  }
}

.styledItem {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  margin: 8px;
  line-height: 22px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  padding: 8px;

  &:hover {
    border-radius: 8px;
  }
}

.styledCarContentName {
  width: 100%;
  &:hover {
    border-radius: 8px;
    background-color: #{$shades-sky-blue-30};
    padding: 3px;
  }
}

.styledCarName {
  text-align: start;
  padding-top: 7px;
  padding-bottom: 14px;
  color: black;
  margin-left: 0;
  margin-right: 20px;
}

.styledSearchWrapper {
  margin: 0;
  width: 100%;
}

.inputWrapper {
  width: 100%;
}

.styledSearchInput {
  /* text-transform: capitalize; */
  padding: 0px 10px;
  width: 100%;
  border: none;
  font-family: var(--kanyon);
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  &::placeholder {
    color: #{$shades-grey-50};
  }
}

.styledSearchInput:focus {
  outline: none;
}

.disableClick {
  pointer-events: none;
}
