.htu-container {
    max-width: 1040px;
    margin: 64px auto;

    position: relative;
    background-color: white;
    height: 215px;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: clip;
    width: 100%;

    @media (max-width: 1024px) {
        width: auto;
        height: 300px;
        margin: 24px 16px;
        z-index: 1;
    }
}

.htu-layer-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #f3f5f9;

    @media (max-width: 1024px) {
        border-radius: 12px;
        border: 4px solid white;
    }
}

.htu-content-wrapper {
    position: absolute;
    z-index: 4;
    width: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1024px) {
        padding: 17px 23px;
        align-items: flex-start;
    }
}

.htu-vector-6 {
    position: absolute;
    left: -30px;
    bottom: -60px;
    transform: rotate(-90deg);
    opacity: 0.3;
    z-index: 3;

    @media (max-width: 1024px) {
        left: -40px;
        bottom: -40px;
    }

    img {
        width: 138px;
        height: auto;
    }
}

.htu-vector-7 {
    position: absolute;
    right: -15px;
    top: -24px;
    transform: rotate(-90deg);
    opacity: 0.8;
    z-index: 3;

    @media (max-width: 1024px) {
        right: -25px;
        top: -25px;
    }

    img {
        width: 86px;
        height: auto;
        border-radius: 8px;

        @media (max-width: 1024px) {
            width: 65px;
        }
    }
}

.htu-step-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 16px;
    }
}

.htu-item-wrapper {
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: flex-start;
}

.htu-image-wrapper {
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
        height: 48px;
        width: 48px;
    }

    img {
        width: 40px;
        height: 40px;

        @media (max-width: 1024px) {
            width: 32px;
            height: 32px;
        }
    }
}

.htu-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    @media (max-width: 1024px) {
        gap: 0;
    }
}

.htu-item-title {
    font-family: var(--kanyon-bold);
    font-size: 18px;
    line-height: 20px;

    @media (max-width: 1024px) {
        font-family: var(--kanyon-medium);
        font-size: 14px;
        line-height: 20px;
    }
}
.htu-item-desc {
    font-family: var(--open-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 205px;

    @media (max-width: 1024px) {
        font-size: 12px;
        line-height: 14px;
    }
}
