@import '../../abstract/colors';
@import '../../abstract/mixins';

@mixin descriptionStyle {
  display: -webkit-box;
  font-size: 12px;
  line-height: 18px;
  height: auto;
  color: #{$primary-black};
  overflow: auto;
  font-family: $font-openSans;
}

@mixin elipsedStyle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapper {
  padding: 16px;
  background-color: #{$primary-white};
  border-radius: 8px;
}

.heading {
  display: flex;
}

.iconInfo {
  padding-right: 8px;
}

.desc {
  margin-top: 8px;
}

.textHeading {
  color: #{$primary-black};
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.textDesc {
  @include descriptionStyle();
}

.elipsed {
  @include elipsedStyle();
}

.button {
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #{$secondary-blue};
  outline: none;
  border: none;
  cursor: pointer;
}

.innerHtmlWrapper {
  p {
    @include descriptionStyle();
  }

  i {
    font-style: italic;
  }

  b {
    font-family: var(--open-sans-bold);
  }

  a {
    text-decoration: underline;
  }
}

.innerHtmlWrapperElipsed {
  p {
    @include elipsedStyle();
  }
}

@include lg {
  .textHeading {
    font-size: 20px;
    line-height: 32px;
  }

  .textDesc {
    font-size: 14px;
    line-height: 20px;
  }

  .button {
    font-size: 14px;
    line-height: 20px;
  }
}
