@import '../../abstract/colors';
@import '../../abstract/mixins';

.wrapper {
  background-image: url('../../../assets/images/loan/bgLoanMobile.webp');
  background-size: cover;
  margin: 40px 0px;
}

.content {
  width: 70%;
  padding: 20px 24px;
  position: relative;
}

.title {
  font-size: 14px;
  font-family: var(--kanyon-bold);
  color: #{$tertiaryBlue};
}

.desc {
  font-size: 10px;
  margin-top: 6px;
  color: #{$secondaryGrey};
}

.search {
  display: flex;
  width: 300px;
  padding: 2px;
  border-style: solid;
  border-color: #{$tertiaryGrey};
  border-width: 0.5px;
  background-color: #{$white};
  border-radius: 3px;
  margin-top: 12px;
}

.info {
  margin-top: 5px;
  font-size: 6px;
  color: #{$tertiaryGrey};
  font-style: italic;
}

.wrapperInput {
  width: 105%;
  display: flex;
  align-items: center;
  padding: 3px 4px;
  background-color: #{$white};
  border: 0.5px solid #{$tertiaryGrey};
  border-radius: 5px;
  margin-top: 10px;
}

.input {
  width: 85%;
  border-radius: 3px;
  background-color: #{$white};
  font-family: var(--kanyon);
  line-height: 24px;
  font-size: 16px;
  margin-left: 5px;
  outline: none;
  border: none;
}

.input::placeholder {
  font-size: 12px;
}

.closeButton {
  display: flex;
  align-items: center;
}

.wrapperListVariant {
  width: 90%;
  height: min-content;
  max-height: 160px;
  position: absolute;
  z-index: 3;
  border-radius: 5px;
  top: 90%;
  overflow-x: auto;
  background-color: #{$white};
  padding: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  border: none;
  text-align: start;
  background-color: #{$white};
}

.list:hover {
  background-color: #{$primarySkyBlue};
  border-radius: 3px;
}

.titleText {
  font-size: 10px;
  color: #{$tertiaryGrey};
}

.priceText {
  font-size: 8px;
  font-weight: 600;
  color: #{$tertiaryGrey};
  padding-top: 3px;
}

@include lg {
  .wrapper {
    background-image: url('../../../assets/images/loan/bgLoanDesktop.webp');
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 422px;
  }

  .content {
    width: 65%;
    padding-left: 80px;
  }

  .title {
    font-size: 40px;
  }

  .desc {
    font-size: 20px;
    margin-top: 0px;
  }

  .search {
    width: 400px;
    padding: 10px;
    margin-top: 30px;
  }

  .input {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .info {
    margin-top: 15px;
    font-size: 12px;
  }

  .wrapperInput {
    width: 400px;
    height: 48px;
    padding: 3px 10px;
  }

  .wrapperListVariant {
    width: 400px;
    max-height: 230px;
    top: 80%;
  }

  .list {
    padding: 13px;
  }

  .titleText {
    font-size: 16px;
    color: #{$tertiaryGrey};
  }

  .priceText {
    font-size: 14px;
  }
}
