@import '../../abstract/colors';
@import '../../abstract/mixins';

.wrapperSearch {
  background-color: #{$white};
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0px 20px;
  height: 100%;
  overflow: hidden;
}

.wrapperInput {
  display: flex;
  align-items: center;
  border: 0.5px solid #{$tertiaryGrey};
  border-radius: 15px;
  height: 46px;
  top: 20px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
  background-color: #{$white};
  position: relative;
}

.input {
  display: flex;
  width: 95%;
  background-color: #{$white};
  font-family: var(--kanyon);
  font-size: 16px;
  line-height: 24px;
  padding-left: 8px;
  padding-bottom: 3px;
  outline: none;
  border: none;
}

.wrapperListVariant {
  max-height: 210px;
  position: absolute;
  border-radius: 10px;
  top: 80px;
  left: 20px;
  right: 20px;
  overflow-x: auto;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.list {
  display: flex;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: start;
  cursor: pointer;
  color: #{$secondaryGrey};
  background-color: #{$white};
}

.list:hover {
  background-color: #{$primarySkyBlue};
}

.iconChevronLeft {
  cursor: pointer;
}

@include lg {
  .wrapperSearch {
    display: none;
  }
}
