.wrapper-tmt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 359px;

  @media (max-width: 1024px) {
    width: 325px;
    align-items: center;
  }
}

.text-name-tmt {
  font-family: 'OpenSansSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  @media (max-width: 1024px) {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }
}

.text-detail-tmt {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  color: #404040;

  @media (max-width: 1024px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
}

.text-city-tmt {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  @media (max-width: 1024px) {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
  }
}

.star-wrapper-tmt {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 1440px) {
    margin-left: 2rem;
  }
  @media (max-width: 1024px) {
    margin-top: 0px;
  }
}

.linear-gradient-mobile-tmt {
  background: linear-gradient(180deg, rgba(5, 37, 110, 0) 0%, #031a4f 100%);
  mix-blend-mode: normal;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 100%;

  @media (max-width: 1024px) {
    padding: 16px 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    background: linear-gradient(180deg, rgba(5, 37, 110, 0) 0%, #031a4f 100%);
  }
}

.header-text-wrapper-tmt {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;

  @media (max-width: 1024px) {
    padding: 0px 0px;
  }
}

.content-tmt {
  margin: auto;
  margin-top: -10px;
  margin-left: 0.8rem;

  @media (max-width: 1024px) {
    margin: 0px;
  }
}

.content-text-wrapper-tmt {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  background: #f2f5f9;
  box-shadow: 0px 1px 16px rgba(3, 24, 56, 0.25);
  border-radius: 4px;
  width: 335px;
  height: 161px;

  @media (max-width: 1024px) {
    padding: 15px 16px;
    width: 272px;
    height: 136px;
  }

  @media (max-width: 380px) {
    padding: 15px 16px;
    width: 262px;
    // height: 136px;
  }
}

.header-text-bottom-wrapper-tmt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
