:root {
}

[data-rsbs-overlay] {
  z-index: 99 !important;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

[data-rsbs-header] {
  padding: 0;
}

[data-rsbs-has-header='false'] [data-rsbs-header] {
  padding-top: 24px;
}

[data-rsbs-header]:before {
  height: 0;
}

[data-rsbs-backdrop] {
  z-index: 98;
}
