@import '../../abstract//mixins';

.logo {
  cursor: pointer;
  text-decoration: none;

  &Images {
    width: 80px;
    height: auto;
    margin-left: 20px;
  }

  @include lg {
    &Images {
      width: 120px;
    }
  }
}
