@import '../../abstract/colors';
@import '../../abstract/mixins';

.promoBadgeWrapper {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-height: 16px;
  padding: 0px 6px;
}
.cashbackText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #e1af3d;
  color: #ffd749;
  font-size: 3px;
  font-family: var(--kanyon-bold);
  font-style: normal;
  font-weight: 700;
}
.badgeText {
  font-size: 9px;
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
