@import '../../abstract/colors';

%card {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 1px 20px;
  margin-right: 20px;
  background-color: #{$white};
}

.active {
  @extend %card;
  border: 0.8px solid #{$tertiaryBlue};
}

.inActive {
  @extend %card;
  border: 0.5px solid #{$primaryLightGrey};
}

.labelType {
  font-size: 12px;
  font-family: var(--kanyon);
  color: #{$secondaryGrey};
  padding-left: 8px;
}

.icon {
  width: 50px;
  height: 30px;
  object-fit: cover;
}
