@import '../abstract/colors';
@import '../abstract/mixins';

.mobile {
  display: block;
  @include lg {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    position: flex;
  }
}
