@import '../abstract/colors';
@import '../abstract/mixins';

.stickypadding {
  padding-top: 57px;
}

.container {
  max-width: 570px;
  margin: 0% auto;
  overflow: hidden;
}

.infoWrapper {
  background-color: #{$shades-grey-5};
  padding: 24px 16px;
}

.showAAnnouncementBox {
  top: 54px !important;
}

.searchContainer {
  position: relative;
  width: 100%;
  padding: 0 16px;
}

.cardContainer {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  min-height: 303px;
  height: 100%;
  transition: max-height 1s ease;
}
