@import '../../../abstract/colors';

.titleText {
  font-size: 12px;
  color: #{$shades-grey-75};
  padding-bottom: 8px;
  margin-top: 8px;
}

.buttonSmallText {
  font-size: 12px;
  color: #{$shades-grey-75};
  text-align: left;
}

.cicilOptionForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonOption {
  background: #{$primary-white} !important;
  padding: 12px 16px !important;
  width: 100%;
  height: auto;
  border-radius: 8px;
  text-align: left;
  border: 1px solid #{$shades-grey-10};
}

.buttonOptionText {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #{$primary-black};
  text-align: left;
}

.titleTextDP {
  margin-top: 2px;
  font-size: 12px;
  font-family: 'OpenSans';
  font-weight: 400;
  line-height: 18px;
  color: #{$shades-grey-75};
}

.selectedStyle {
  background: rgba(243, 249, 253, 0.50) !important;
  border: 2px solid #{$secondary-sky-blue};
}
