@import '../../../abstract/colors';
@import '../../../abstract/mixins';
@import '../../../abstract/animations';

@mixin borderColor($type, $isImportant: '') {
  @if $type==default {
    border: 1px solid #{$shades-grey-10} $isImportant;
  } @else if $type==focus {
    border: 1px solid #{$secondary-blue} $isImportant;
  } @else if $type==error {
    border: 1px solid #{$secondary-brick-red} $isImportant;
  } @else {
    border: 1px solid #{$shades-grey-10} $isImportant;
  }
}

.wrapper {
  margin-top: 24px;
  width: 100%;
}

.titleText {
  font-size: 12px;
  color: #{$shades-grey-75};
  padding-bottom: 8px;
  margin-top: 8px;
}

.input {
  @include borderColor(default);
  padding: 12px 16px;
  width: 100%;
  font-family: var(--kanyon);
  font-size: 14px;
  color: #{$primary-black};
  border-radius: 8px;
  outline: none;
  background-color: #{$primary-white};
  margin-top: 8px;
  font-family: var(--open-sans);
  &::placeholder {
    color: #{$shades-grey-50};
  }
}

.inputDisabled {
  background: rgba(0, 0, 0, 0.04);
  border-color: #d9d9d9;
}

.inputDisabled input {
  color: #{$primary-black} !important;
}

.input:focus {
  @include borderColor(focus);
}

.input[disabled] {
  color: #{$primary-black};
}

.error {
  @include borderColor(error, !important);
}

.disabled {
  background-color: #{$shades-grey-10};
  color: #{$shades-grey-75} !important;
}

.errorText {
  font-size: 12px;
  color: #{$secondary-brick-red};
  padding-top: 8px;
}

.slider {
  margin-top: 30px;
  width: 100%;
  color: #51a8db;
}

.labelSliderContent {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.labelSliderContent div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labelSliderOne {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #{$shades-grey-75};
  align-content: start;
}

.labelSliderTwo {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #{$shades-grey-75};
}

.errorMessageWrapper {
  margin-top: 8px;
  @include shake-animation-primary;
}

.errorMessage {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #{$secondary-brick-red};
  mix-blend-mode: normal;
}
