@import '../../../abstract/colors';
@import '../../../abstract/mixins';

.container {
  padding: 16px 24px;
  width: 100%;
}

.wrapperHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 18px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  padding-bottom: 8px;
}

.textTitle {
  height: 18px;
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #{$shades-grey-75};
  mix-blend-mode: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 8px;
  width: 155.5px;
  height: 44px;
  background: white;
  border: 1px solid #{$shades-grey-10};
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.boxOnclick {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 8px;
  width: 155.5px;
  height: 44px;
  background: #{$shades-sky-blue-5};
  border: 2px solid #{$secondary-sky-blue};
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.errorText {
  font-size: 12px;
  color: #{$secondary-brick-red};
  padding-left: 24px;
}
