@import '../abstract/colors';
@import '../abstract/mixins';

.bgModal {
  height: 100%;
  background-color: #{$primary-black};
  opacity: 0.5;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.wrapperSupergraphicSmall {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0%;
}

.supergraphicSmall {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 25px;
  left: -250px;
  z-index: 1;
  opacity: 0.6;
}

.wrapperSupergraphicLarge {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.supergraphicLarge {
  width: 350px;
  height: 300px;
  position: absolute;
  right: -170px;
  top: -100px;
  z-index: 1;
  opacity: 0.3;
}

.foreground {
  position: relative;
  z-index: 2;
  padding: 24px 16px;
}

.form {
  margin-top: 24px;
}

.textHeading {
  font-family: 'Kanyon';
  font-size: 20px;
  line-height: 28px;
  color: #{$primary-black};
  text-align: center;
  padding-top: 24px;
}

.textDesc {
  font-weight: 400;
  font-size: 12px;
  color: #878d98;
  line-height: 18px;
  text-align: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
