@import '../../abstract/colors';

.carWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 54px;
}

.filterWrapperPdp {
  background-color: #{$primary-white};
  padding: 80px 16px 15px;
}

.heroImg {
  z-index: 1;
  width: 248px;
  aspect-ratio: 4 / 3;
  object-fit: contain;
  top: -50px;
}
.carWrapperCarOverview {
  @extend .carWrapper;
  padding-top: 0px !important;
}
.lineWrapper {
  width: 100%;
}
