@import '../abstract/colors';

.filterWrapper {
  background-color: #{$primary-white};
  padding: 18px 16px 15px;
}

.carWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 54px;
}

.line {
  border: 1px solid #{$shades-grey-10};
  width: 100%;
  margin: 16px 0 15px;
}

.sortingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
