$primaryBlue: '#002373';
$secondaryBlue: '#05256E';
$tertiaryBlue: '#246ed4';

$primarySkyBlue: '#a8d3ed';

$primaryGrey: '#9EA3AC';
$secondaryGrey: '#404040';
$tertiaryGrey: '#52627A';
$quartenaryGrey: '#dddddd';

$primaryLightGrey: #e4e9f1;
$secondaryLightGrey: '#EEF6FB';
$tertiaryLightGrey: '#E4E9F1';

$white: '#FFFFFF';
$secondaryWhite: '#FCFCFC';
$tertiaryWhite: '#F2F5F9';
$quartenaryWhite: '#F7F7FC';

$primaryYellow: '#FFD749';

$primaryRed: '#D83130';
$secondaryRed: '#ea5370';
$tertiaryRed: '#E01F2A';

$black: '#000000';
$secondaryBlack: '#14142B';
$tertiaryBlack: '#041736';
$quartenaryBlack: '#252525';

$primary-dark-blue: '#05256E';
$primary-red: '#D83130';
$primary-black: '#13131B';
$primary-white: '#FFFFFF';
$secondary-blue: '#246ED4';
$secondary-sky-blue: '#51A8DB';
$secondary-sky-blue-10: '#00C2E0';
$secondary-brick-red: '#B4231E';
$secondary-green: '#1AA674';
$secondary-yellow: '#FFD749';
$shades-grey-5: '#F5F6F6';
$shades-grey-10: '#EBECEE';
$shades-grey-25: '#CDD0D4';
$shades-grey-50: '#AFB3BA';
$shades-grey-75: '#878D98';
$shades-sky-blue-5: '#F3F9FD';
$shades-sky-blue-10: '#EEF6FB';
$shades-sky-blue-30: '#CBE5F4';
$shades-sky-blue-50: '#A8D3ED';
$shades-sky-blue-70: '#85C2E6';
$shades-brick-red-5: '#FDF5F5';
$shades-brick-red-10: '#FBEAEA';
$shades-brick-red-30: '#F3C1C1';
$shades-brick-red-50: '#EB9897';
$shades-green-5: '#F4FBF8';
$shades-green-10: '#E8F6F1';
$shades-green-50: '#8CD2BA';
$shades-green-70: '#5FC19E';

$primary-green-40: '#133758';
