.brandActive {
  display: flex;
  align-items: center;
  width: 90px;
  height: 64px;
  border-radius: 5px;
  margin-right: 10px;
  border: 0.5px solid;
  background-color: #ffffff;
  cursor: pointer;
}

.brandInActive {
  display: flex;
  align-items: center;
  width: 90px;
  height: 64px;
  border-radius: 5px;
  margin-right: 10px;
  border: 0.5px solid #dddddd;
  background-color: #ffffff;
  cursor: pointer;
}

.brandImage {
  width: 90px;
  padding: 2px 10px;
  height: 40px;
  object-fit: contain;
}

@media only screen and (min-width: 1024px) {
  .brandActive {
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .brandInActive {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .brandImage {
    width: 90px;
    height: 44px;
    padding: 2px 10px;
  }
}
