.active {
  outline: 0.5px solid #246ed4;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 1px 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: none;
}

.inActive {
  outline: 0.5px solid #dddddd;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 1px 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: none;
}

.labelType {
  font-size: 12px;
  font-family: var(--kanyon);
  padding-left: 8px;
}

.icon {
  width: 50px;
  height: 30px;
  object-fit: cover;
}
