@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  margin: 30px 0 0;
}

.heroImg {
  position: absolute;
  z-index: 1;
  width: 180px;
  aspect-ratio: 4/3;
  object-fit: contain;
  top: -30px;
}

.brandModelText {
  font-family: var(--kanyon-medium);
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 24px;
  height: 48px;
  font-weight: 300;
}

.cardWrapper {
  padding: 16px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  padding-top: 128px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labelCard {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 96px;
}

.hargaOtrWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  margin-bottom: 4px;
}

.smallSemibold {
  font-family: var(--open-sans-semi-bold);
  font-size: 12px;
  line-height: 18px;
  color: #{$shades-grey-75};
}

.smallRegular {
  font-family: var(--open-sans);
  font-size: 14px;
  line-height: 20px;
  color: #{$shades-grey-75};
}

.priceOtrRange {
  font-family: var(--kanyon);
  font-size: 16px;
  line-height: 24px;
  color: #{$primary-black};
  margin-bottom: 16px;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 311px;
  margin-bottom: 24px;
}

.detailInfoWrapper {
  display: flex;
  flex-direction: column;
}

.bodyPriceText {
  font-family: var(--open-sans-semi-bold);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #{$primary-black};
}

.linkLihatDetail {
  font-family: var(--open-sans);
  font-size: 14px;
  line-height: 20px;
  color: #{$secondary-blue};
  margin-bottom: 24px;
}
