@import '../../abstract/colors';

.container {
  padding: 32px 0;
  background: #{$shades-grey-5};
}

.titleWrapper {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--kanyon);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #{$primary-dark-blue};
}

.link {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #{$secondary-blue};
}

.articlesContainer {
  margin-top: 16px;
  display: flex;
  overflow-x: auto;
  flex-shrink: 0;

  & > div:first-child {
    margin-left: 16px;
  }

  & > div {
    margin-right: 16px;
  }
}
