@import '../../abstract/colors';
@import '../../abstract/mixins';
@import '../../abstract/variable';

.container {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.supergraphic {
  height: 140px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.supergraphicBg {
  position: absolute;
  z-index: 1;
  height: 140px;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mainContent {
  position: relative;
  background-color: transparent;
  z-index: 3;
}

.mainWrapper {
  margin: 18px 21px;
  max-width: 343px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  font-size: 22px !important;
  line-height: 27px !important;
  color: #{$primary-white} !important;
  font-family: var(--kanyon);
  font-weight: 700;
  font-style: normal;
  &.regular {
    @include h2(regular);
  }

  &.bold {
    @include h2(bold);
  }
}

.mainSubtitle {
  font-size: 22px !important;
  line-height: 27px !important;
  color: #{$primary-white} !important;
  font-family: var(--kanyon);
  font-weight: 400;
  font-style: normal;
  &.regular {
    @include h2(regular);
  }

  &.bold {
    @include h2(bold);
  }
}

.line {
  width: 92%;
  height: 0px;
  border: 1px solid #eef6fb;
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
}
