@import '../../abstract/colors';

.dataHeaderWrapper {
  margin-top: 32px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.container {
  padding: 0px 16px;
  margin-bottom: 20px;
}
.skeleton {
  background-color: #{$shades-grey-10};
  border-radius: 12px;
  height: 20px;
}
.skeletonHead {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.wrapperInside {
  background: #ebecee;
  width: 199px;
  height: 12px;
  border-radius: 12px;
}
.skeletonCard {
  height: 124px;
}
.wrapperContent {
  border: 2px solid #cdd0d4;
  background: #ebecee;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wrapperContentUnselect {
  @extend .wrapperContent;
  border: 1px solid #ebecee !important;
  background: transparent !important;
  margin-top: 15px;
  border-radius: 8px;
  height: 61px !important;
  justify-content: unset !important;
  padding: 0px 49px;
}
.wrapperSkeleton {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wrapperBottom {
  border: 2px solid #cdd0d4;
  background: #ebecee;
  border-radius: 0;
  height: 39px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0px 60px;
}
.dataHeaderText {
  font-family: var(--open-sans-bold);
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  color: #{$shades-grey-75};
  mix-blend-mode: normal;
  text-align: center;
}
.dataHeaderTextSmall {
  @extend .dataHeaderText;

  font-family: var(--open-sans-semi-bold) !important;
  font-weight: 600 !important;
}
.tenorHeader {
  min-width: 106px;
}

.disclaimerWrapper {
  width: 100%;
  margin-top: 16px;
}
.wrapperButton {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.disclaimerText {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #{$shades-grey-75};
  mix-blend-mode: normal;
}

.logoFincoWrapper {
  margin-top: 4px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.logoAcc {
}

.logoTaf {
  margin-left: 8px;
}
