@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  margin: 24px 0 29px;
  padding: 0 16px;
}

.carBrandModelText {
  font-family: var(--kanyon);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #{$primary-black};
}

.carDescriptionText {
  margin-top: 2px;
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #{$shades-grey-75};
}

.otrWrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cityInfoWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.otrCityInfo {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #{$shades-grey-75};
}

.tooltipWrapper {
  position: relative;
}

.tooltipIcon {
  cursor: pointer;
}

.tooltipCard {
  visibility: visible;
  width: 320px;
  background-color: #{$secondary-blue};
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 0;
  margin-left: -140px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 145px;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: #{$secondary-blue} transparent transparent transparent;
  }
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.tooltipDesc {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #{$primary-white};
}

.tooltipCloseButton {
  border: none;
  background: none;
  font-family: var(--open-sans-bold);
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  color: #{$primary-white};
  cursor: pointer;
}

.otrCityButton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carOtrPriceText {
  font-family: var(--kanyon);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #{$primary-black};
}

.packageWrapper {
  margin-top: 16px;
  margin-right: 32px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.packageItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.packageLabel {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #{$shades-grey-75};
}

.packageValue {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #{$primary-black};
}

.downloadBrochureWrapper {
  margin-top: 26px;
  width: fit-content;
}

.ctaAndShareGroup {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.ctaWrapper {
  width: 100%;
}

.shareButton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
