@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  padding: 16px;
  width: 100%;
}

.tridiStyle div div img {
  max-height: 205px;
  object-fit: contain;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

@include lg {
  .container {
    margin: 0 auto;
    width: 70%;
  }
}
