@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  position: relative;
  width: 100%;
  height: 219px;
}

.styledIframe {
  width: 100%;
  height: 219px;
  padding-top: 16px;
}

.staticImage {
  width: 100%;
}

.iconWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
