@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  margin-bottom: 32px;
}

.wrapper {
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #{$primary-white};
  z-index: 1;
}

.wrapperSupergraphicRight {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.supergraphicRight {
  width: 400px;
  height: auto;
  position: absolute;
  right: -160px;
  top: 110px;
  z-index: 1;
  transform: rotate(-90deg);
}

.foreground {
  position: relative;
  z-index: 2;
  padding: 16px;
}

.form {
  margin-top: 24px;
}

.textHeading {
  font-family: var(--kanyon);
  font-size: 20px;
  line-height: 28px;
  color: #{$primary-dark-blue};
}

.textSubHeading {
  font-size: 12px;
  line-height: 18px;
  color: #{$shades-grey-75};
}

.textSuggestion {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #{$primary-white};
  margin: 20px 0px;
}

.inputPhone {
  margin-top: 24px;
}

.button {
  margin-top: 32px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
