@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  margin-bottom: 32px;
}

.wrapper {
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #{$primary-white};
  z-index: 1;
}

.wrapperSupergraphicRight {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.supergraphicRight {
  width: 400px;
  height: auto;
  position: absolute;
  right: -160px;
  top: 110px;
  z-index: 1;
  transform: rotate(-90deg);
}

.foreground {
  position: relative;
  z-index: 2;
  padding: 16px;
}

.form {
  margin-top: 24px;
}

.textHeading {
  font-family: var(--kanyon);
  font-size: 20px;
  line-height: 28px;
  color: #{$primary-dark-blue};
}

.textSubHeading {
  font-size: 12px;
  line-height: 18px;
  color: #{$shades-grey-75};
}

.textSuggestion {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #{$primary-white};
  margin: 20px 0px;
}

.inputPhone {
  margin-top: 24px;
}

.button {
  margin-top: 32px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include lg {
  .container {
    margin-top: 40px;
    margin-bottom: 44px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(22px);
    border-radius: 8px;
  }

  .wrapper {
    position: relative;
  }

  .background {
    width: 100%;
    border-radius: 8px;
  }

  .foreground {
    padding: 32px;
    width: 100%;
  }
  .form {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
  }

  .textHeading {
    font-size: 32px;
    line-height: 48px;
  }

  .textSubHeading {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  .textSuggestion {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #{$primary-white};
    margin: 20px 0px;
  }

  .inputName {
    width: 352px;
  }

  .inputPhone {
    margin-top: 0px;
    margin-left: 24px;
    width: 385px;
  }

  .button {
    margin-top: 0px;
    margin-left: 24px;
    width: 180px;
  }

  .wrapperSupergraphicRight {
    border-radius: 8px;
  }

  .supergraphicRight {
    width: 600px;
    height: auto;
    position: absolute;
    right: -200px;
    top: 80px;
    z-index: 1;
    transform: rotate(-100deg);
  }
}
