@import '../../abstract/colors';
@import '../../abstract/mixins';

.wrapper {
  position: relative;
  height: 368px;
  padding: 24px;
}

.wrapperImage {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 22px;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.textHeading {
  font-family: var(--kanyon);
  color: #{$primary-black};
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
