@import '../../abstract/colors';
@import '../../abstract/mixins';

.wrapper {
  position: relative;
  padding: 24px;
}

.wrapperImage {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.textHeading {
  font-family: var(--kanyon);
  color: #{$primary-black};
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.whatsappCtaTextWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: var(--open-sans);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #{$primary-dark-blue};
}

.additionInfo {
  font-family: $font-openSans;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #{$primary-black};
}
