@import '../../abstract/colors';
@import '../../abstract/mixins';
@import '../../abstract/animations';

.content {
  padding: 5px 0px;
}

.iconClose {
  position: absolute;
  right: 0;
  top: 0;
  margin: 22px;
}

.titleText {
  font-size: 20px;
  text-align: center;
  font-family: var(--kanyon);
  line-height: 28px;
}

.subTitleText {
  font-size: 14px;
  text-align: center;
  padding-top: 4px;
  color: #{$shades-grey-75};
}

.descText {
  font-size: 12px;
  text-align: center;
  color: #{$shades-grey-75};
}

.otpGroup {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 10px;
  margin: 25px 0px;
}

.otpInput {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-family: var(--kanyon);
}

.otpInput:focus {
  border: 1px solid #{$secondary-blue};
}

.otpError {
  border: 1px solid #{$secondary-brick-red};
  @include shake-animation-primary;
}

.buttonResend {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 12px;
  color: #{$secondary-blue};
  text-align: center;
  cursor: pointer;
}

.captcha {
  opacity: 0;
  height: 0;
  width: 0;
  margin-top: 10px;
}

.textAlert {
  font-size: 12px;
  text-align: center;
  padding: 2px 0px;
  color: #{$secondary-brick-red};
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  @include rotate-animation;
}
