@import '../../abstract/colors';
@import '../../abstract/mixins';

.pageHeaderWrapper {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-bottom: 69px;

  @media (min-width: 1025px) {
    overflow-x: unset;
  }

  @media (max-width: 1024px) and (min-width: 480px) {
    max-width: 480px;
    margin: 0 auto;
  }
}

.shimmerWrapper {
  position: absolute;
  width: 100%;
  z-index: 12;
}
