@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 6px;
}

.title {
  font-family: $font-kanyon;
  font-size: 20px;
  line-height: 28px;
  color: #{$primary-black};
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding-right: 17px;

  .nameAge {
    font-family: var(--open-sans-semi-bold);
    font-size: 14px;
    line-height: 20px;
    color: #{$primary-dark-blue};
  }

  .timeCityCar {
    font-family: var(--open-sans);
    font-size: 12px;
    line-height: 18px;
    color: #{$primary-dark-blue};
  }
  .carBrandAndModelName {
    @extend .timeCityCar;
    margin-bottom: 8px;
  }

  .description {
    display: -webkit-box;
    font-family: var(--open-sans);
    color: #{$shades-grey-75};
    font-size: 12px;
    line-height: 18px;
  }
}
