@import '../../abstract/colors';
@import '../../abstract/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 54px);
  position: relative;
  z-index: 2;
}

.emptyImage {
  width: 100%;
  height: 186px;
  object-fit: contain;
}

.textInfo {
  font-family: var(--kanyon);
  font-size: 20px;
  line-height: 28px;
  color: #{$primary-black};
}

.textChangeCity {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #{$shades-grey-75};
}

.buttonChangeCity {
  outline: none;
  border: none;
  background-color: transparent;
  color: #{$secondary-blue};
}

.wrapperCityOption {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textOption {
  font-size: 12px;
  line-height: 18px;
  color: #{$primary-black};
}

.textCarOption {
  font-size: 12px;
  line-height: 18px;
  color: #{$primary-black};
}

.citySuggestion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  max-width: 300px;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #{$shades-sky-blue-10};
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #{$secondary-blue};
}

.textSuggestion {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  color: #{$shades-grey-75};
}
