@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  padding: 22px 16px 40px 16px;
  height: 201px;
  border-radius: 6px 6px 0px 0px;
  border: 2px solid #eef6fb;
  background: #ffffff;
  margin-top: 20px;
  /* Shadow Button */
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}

.rowBadge {
  @extend .row;
  justify-content: start !important;
  gap: 7.5px;
  margin-bottom: 20px !important;
}
.priceWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.labelText {
  font-size: 11px;
  font-family: var(--open-sans-bold);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #878d98;
}
.strikethroughPriceText {
  font-size: 9px;
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-right: 6px;
  text-decoration: line-through #afb3ba;
  color: #878d98;
}
.interestRateText {
  @extend .strikethroughPriceText;
  text-decoration: none !important;
}
.priceText {
  color: #13131b;
  font-size: 14px;
  font-family: var(--open-sans-semi-bold);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.promoBadgeWrapper {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 16px;
  padding: 0px 6px;
}
.cashbackText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #e1af3d;
  color: #ffd749;
  font-size: 3px;
  font-family: var(--kanyon-bold);
  font-style: normal;
  font-weight: 700;
}
.badgeText {
  font-size: 9px;
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
@include lg {
  .container {
  }

  .content {
  }
}
