@import '../../abstract/colors';
@import '../../abstract/mixins';

.popupHeader {
  height: 550px;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #{$shades-grey-25};
    border-radius: 20px;
    right: -20px;
  }
}

.popupSubHeader {
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  height: 28px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
}
.textPromoBanner {
  @extend .openSans;
  margin-top: -34px;
  margin-left: 16px;
  color: #ffffff !important;
}
.kanyonMedium {
  font-family: var(--kanyon-medium);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #13131b;
}

.openSansSemiBold {
  font-family: var(--open-sans-semi-bold);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.openSans {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  a {
    color: #246ed4;
  }
}
.bannerPromo {
  min-height: 165px;
}
.imagePromoSpacing {
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
}
.spacingChevronIcon {
  margin-left: 9px;
}
.pdpLowerSection {
  background: #f5f6f6;
}
.promoBannerSmall {
  border-radius: 8px;
}
.promoBanner {
  position: relative !important;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}
.containerPromoPopup {
  height: 550px;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #{$shades-grey-25};
    border-radius: 20px;
    right: -20px;
  }
}

.container {
  height: 526px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0px 24px;
  padding-bottom: 20px;
  padding-top: 8px;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #{$shades-grey-25};
    border-radius: 20px;
    right: -20px;
  }
}

.contentPromo {
  display: flex;
  flex-direction: column;
}

.bottomSheet [data-rsbs-overlay] {
  @include centeredWithMaxWidth;
}

.bottomSheet [data-rsbs-backdrop] {
  @include centeredWithMaxWidth;
}
