@import '../../abstract/colors';
@import '../../abstract/mixins';

.container {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 480px;
}

.marginTop115 {
  margin-top: 115px;
}

.marginTop54 {
  margin-top: 54px;
}

.backgroundFaq {
  padding: 33px 0 0 0;
  background: rgba(228, 233, 241, 0.4);
}

.titleFaq {
  font-family: var(--kanyon-bold);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.widgetSeparator {
  height: 7px;
  background: #{$tertiaryWhite};
}
