@import '../../abstract/colors';
@import '../../abstract/mixins';

.cardInfoDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: 136px;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px 16px 24px 16px;
  margin: 24px 0px;
}
.row {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.rowWithGap {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.rowCenterContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.textHeaderVariant {
  font-family: var(--open-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #13131b;
}
.textTitleSection {
  font-family: var(--kanyon-medium);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #13131b;
}
.rowCenterContentWithGap {
  @extend .rowCenterContent;
  gap: 8px !important;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.rowScrollHorizontal {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 15px;
  width: 100%;
}
.rowScrollHorizontal::-webkit-scrollbar {
  display: none;
}
.popupHeader {
  height: 550px;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #{$shades-grey-25};
    border-radius: 20px;
    right: -20px;
  }
}

.popupSubHeader {
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  height: 28px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
}
.kanyonMedium {
  font-family: var(--kanyon-medium);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #13131b;
}

.openSansSemiBold {
  font-family: var(--open-sans-semi-bold);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.openSansSmall {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #878d98;
}
.openSans {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.openSansLightBlue {
  @extend .openSans;
  color: #246ed4 !important;
}
.spacingChevronIcon {
  margin-left: 9px;
}
.pdpLowerSection {
  background: #f5f6f6;
}

.toggleActive {
  background: rgb(5, 37, 110);
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.cardCarVariant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 311px;
  background: #ffffff;
  border: 1px solid #ebecee;
  border-radius: 8px;
}

.cardCarVariantGrid {
  @extend .cardCarVariant;
  width: 100% !important;
}

.cardCarVariantList {
  @extend .cardCarVariant;
  width: 191px !important;
}

.cardCarVariantInfoCenterContent {
  width: 100%;
}

.buttonPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #05256e;
  height: 34px;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}

.cardCarVariantList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 311px;
  background: #ffffff;
  border: 1px solid #ebecee;
  border-radius: 8px;
}

.openSansBoldGrey {
  font-family: var(--open-sans-bold);
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  color: #878d98;
}
.toggleHorizontalWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ebecee;
  border-radius: 200px;
  gap: 5px;
  padding-right: 8px;
}
.toggleVerticalWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ebecee;
  border-radius: 200px;
  gap: 5px;
  padding-left: 8px;
}
.openSansSemiBoldBlack {
  @extend .openSansSemiBold;
  color: #13131b !important;
}
.textElipsis {
  @extend .openSansSemiBoldBlack;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
.cardCarVariantInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 16px 0px 16px;
  margin-bottom: 26px;
}
.cardCarVariantInfoGrid {
  @extend .cardCarVariantInfo;
  width: 100% !important;
  margin-bottom: 0px !important;
}
.tooltip {
  position: relative;
  display: inline-block;
  height: 40px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  @extend .openSansSemiBoldBlack;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container {
  height: 550px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0px 24px;
  padding-bottom: 20px;
  padding-top: 8px;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #{$shades-grey-25};
    border-radius: 20px;
    right: -20px;
  }
}
.variantPriceWrapper {
  // width: 50%;
  display: flex;
  justify-content: flex-end;
}
.rowWithMargin {
  margin-bottom: 16px;
}
.containerCard {
  width: 100%;
}
.onClickWrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@include lg {
  .container {
  }

  .content {
  }
}
