$primaryBlue: '#002373';
$secondaryBlue: '#05256E';
$tertiaryBlue: '#246ed4';

$primarySkyBlue: '#a8d3ed';

$primaryGrey: '#9EA3AC';
$secondaryGrey: '#404040';
$tertiaryGrey: '#52627A';
$quartenaryGrey: '#dddddd';

$primaryLightGrey: #e4e9f1;
$secondaryLightGrey: '#EEF6FB';
$tertiaryLightGrey: '#E4E9F1';

$white: '#FFFFFF';
$secondaryWhite: '#FCFCFC';
$tertiaryWhite: '#F2F5F9';
$quartenaryWhite: '#F7F7FC';

$primaryYellow: '#FFD749';

$primaryRed: '#D83130';
$secondaryRed: '#ea5370';
$tertiaryRed: '#E01F2A';

$black: '#000000';
$secondaryBlack: '#14142B';
$tertiaryBlack: '#041736';
$quartenaryBlack: '#252525';
