$screen-sm: 640px;
$screen-md: 980px;
$screen-lg: 1024px;

// Typography
$font-openSans: var(--open-sans);
$font-openSans-semiBold: var(--open-sans-semi-bold);
$font-openSans-bold: var(--open-sans-bold);
$font-kanyon: var(--kanyon);
$font-kanyon-medium: var(--kanyon-medium);
$font-kanyon-bold: var(--kanyon-bold);
