.container-cbr {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 1025px) {
    gap: 18px;
  }
}

.content-cbr {
  display: flex;
  flex-direction: column;

  @media (min-width: 1025px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 41px;
  }
}

.content-slider-cbr {
  padding: 0px 8px;
  margin-bottom: 25px;
  flex: 1;

  @media (min-width: 1025px) {
    padding: 0;
    margin-bottom: 0;
  }
}

.header-wrapper-cbr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
}

.header-text-cbr {
  font-family: 'KanyonBold';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #252525;

  @media (min-width: 1025px) {
    font-family: 'KanyonBold';
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
  }
}

.header-text-small-cbr {
  font-family: 'KanyonBold';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0px;
  color: #246ed4;

  @media (min-width: 1025px) {
    font-family: 'KanyonBold';
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
}

.car-buttons-cbr {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px;
  margin-right: 0;
  gap: 8px;
  @media (max-width: 1024px) {
    margin-top: 8px;
    padding: 0 16px;
    flex-direction: row;
    overflow-x: auto;
    gap: 8px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper-cbr {
  height: 210px;
  margin-top: 8px;
  .horizontalSlider___281Ls {
    position: relative;
    overflow: hidden;
    background: transparent;
  }
  .carousel__inner-slide {
    width: 140px;
    height: 210px;
    left: 10px;
    top: 10px;
  }

  @media (min-width: 1025px) {
    height: auto;
    margin-top: 0;
    .carousel__inner-slide {
      width: 288px;
      height: 352px;
      left: 5px;
      top: 0;
    }
  }
}

.car-last-card-cbr {
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 12px;
  padding-bottom: 10px;

  @media (min-width: 1025px) {
    width: 288px;
    height: 352px;
  }
}

.last-card-content-cbr {
  cursor: pointer;
}

.text-last-card-cbr {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #404040;
}

.space-arrow-right-new-cbr {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.left-button-arrow-cbr {
  display: flex;
  @media (max-width: 1024px) {
    display: none;
  }
}

.right-button-arrow-cbr {
  @media (max-width: 1024px) {
    display: none;
  }
}

.container-car-not-available-cbr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;

  @media (min-width: 1025px) {
    height: 100vh;
    max-height: 366px;
  }
}

.text-car-not-available-title-cbr {
  font-family: 'KanyonBold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #252525;

  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 28px;
  }
}

.text-car-not-available-subtitle-cbr {
  font-family: 'KanyonMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #252525;

  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 28px;
  }
}
