.card-wrapper-cbi {
  padding: 0;
  border: none;
  text-align: left;
}

.car-card-cbi {
  width: 140px;
  height: 210px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 16px rgba(3, 24, 56, 0.1);
  cursor: pointer;

  @media (min-width: 1025px) {
    width: 264px;
    height: 348px;
  }

  @media (max-width: 380px) {
    width: 130px;
  }
}

.content-cbi {
  margin: 24px 24px 33px;

  @media (max-width: 1024px) {
    margin: 15px 13px 33px;
  }
}

.content-ios-cbi {
  margin: 24px 24px 33px;

  @media (max-width: 1024px) {
    margin: 15px 13px 33px;
  }
}

.text-brand-and-name-cbi {
  font-family: 'KanyonBold';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #404040;

  @media (min-width: 1025px) {
    font-family: 'KanyonBold';
    font-size: 20px;
    line-height: 24px;
  }
}

.text-installment-text-cbi {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #404040;

  @media (min-width: 1025px) {
    font-size: 16px;
  }
}

.text-installment-price-cbi {
  font-family: 'OpenSansSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
  color: #404040;

  @media (min-width: 1025px) {
    margin-top: 8px;
    font-weight: 600;
    font-size: 18px;
  }
}

.price-wrapper-cbi {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;

  @media (min-width: 1025px) {
    bottom: 24px;
  }
}
