.container-cbtd {
  padding: 0px 16px;
  margin-top: 24px;
}

.container-content-cbtd {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.header-container-cbtd {
  display: flex;
  flex-direction: column;
}

.body-types-wrapper-cbtd {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-top: 8px;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-slider-cbtd {
  padding: 0px 8px;
  margin-bottom: 25px;
  padding-top: 10px;
}

.container-no-car-available-cbtd {
  height: 352px;
}

.car-types-wrapper-cbtd {
  margin: 0px;
  height: 352px;
  position: relative;
  .horizontalSlider___281Ls {
    position: relative;
    overflow: hidden;
    background: transparent;

    @media (min-width: 1025px) {
      height: 380px;
    }
  }
  .carousel__inner-slide {
    width: 264px;
    height: 352px;
    left: 10px;
    top: 10px;
    @media (max-width: 1024px) {
      height: 210px;
    }
  }
  @media (max-width: 1024px) {
    position: relative;
    height: 210px;
    margin-top: 8px;
  }
}

.text-header-cbtd {
  font-family: 'KanyonBold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #252525;
}

.text-car-type-cbtd {
  font-family: 'Kanyon';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #404040;
  padding-left: 8px;
}

.car-last-card-cbtd {
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 12px;
  padding-bottom: 10px;
  cursor: pointer;
}

.text-car-last-card-cbtd {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #404040;
}

.space-arrow-right-new-cbtd {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.text-car-not-available-title-cbtd {
  font-family: 'KanyonBold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #252525;

  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 28px;
  }
}

.text-car-not-available-subtitle-cbtd {
  font-family: 'KanyonMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #252525;

  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 28px;
  }
}

.container-car-not-available-cbtd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.button-next-cbtd {
  position: absolute;
  top: 156px;
  right: -40px;
  z-index: 9;
  border: none;
  @media (max-width: 1024px) {
    display: none;
  }
}

.button-back-cbtd {
  position: absolute;
  top: 156px;
  left: -40px;
  z-index: 9;
  border: none;
  @media (max-width: 1024px) {
    display: none;
  }
}

.left-button-cbtd {
  display: flex;
  @media (max-width: 1024px) {
    display: none;
  }
}

.right-button-cbtd {
  @media (max-width: 1024px) {
    display: none;
  }
}

.header-text-small-cbtd {
  font-family: 'KanyonBold';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0px;
  color: #246ed4;

  @media (min-width: 1025px) {
    font-family: 'KanyonBold';
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding-top: 8px;
  }
}

.car-types-option-cbtd {
  display: flex;
  justify-content: space-between;
}
