.content-lcw {
  width: 70%;
  display: flex;
  flex-direction: column;

  @media (min-width: 1025px) {
    width: 60%;
  }
}

.title-lcw {
  font-family: 'KanyonBold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #246ed4;

  @media (min-width: 1025px) {
    font-size: 40px;
  }
}

.subtitle-lcw {
  margin-top: 6px;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #404040;

  @media (min-width: 1025px) {
    margin-top: 16px;
    font-size: 20px;
    line-height: 28px;
  }
}

.search-input-wrapper-lcw {
  margin-top: 14px;
  position: relative;

  @media (min-width: 1025px) {
    margin-top: 29px;
    width: 400px;
  }
}

.data-result-lcw {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 3px;
  border: 0.5px solid #9ea3ac;
  border-radius: 4px;
  max-height: 157px;
  width: inherit;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 9px 5px 8px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9;
  :-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 1025px) {
    max-height: 228px;
  }
}

.link-lcw {
  padding: 2px 4px;
  width: 100%;
  display: flex;
  :hover {
    background-color: #cbe5f4;
    border-radius: 4px;
  }
  display: flex;
  align-items: start;
  flex-direction: column;

  @media (min-width: 1025px) {
    padding: 7px;
  }
}

.car-name-lcw {
  width: 100%;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #52627a;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 1025px) {
    font-size: 16px;
    line-height: 20px;
    -webkit-line-clamp: 2;
  }
}

.car-price-lcw {
  width: 100%;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 14px;
  color: #52627a;
  white-space: nowrap;

  @media (min-width: 1025px) {
    font-size: 14px;
    margin-top: 8px;
  }
}

.example-wording-lcw {
  margin-left: 4px;
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 400;
  font-size: 6px;
  line-height: 12px;
  color: #52627a;

  @media (min-width: 1025px) {
    margin-top: 14px;
    font-size: 12px;
  }
}
