$primary1: #002373;
$primary2: #d4d3ed;
$primary3: #002373;
$primaryLight1: #5cc9fc;
$primaryLight2: #d6f1fe;
$primaryLight3: #0023731a;
$primaryLight4: #b3cce6;
$primaryLight5: #def1fa;
$primaryDark: #042647;
$primarySky: #cbe5f4;
$primarySky2: #a8d3ed;
$primarySkyBlue10: #eef6fb;
$primarySkyBlue: #51a8db;
$primaryDarkBlue: #05256e;
$primaryRed: #d83130;
$primaryBlue: #246ed4;
$secondary: #ec0a23;
$secondaryLight: #def7df;
$secondaryText: #2caa30;
$secondary20: #ffeac5;
$secondaryDark: #e59300;
$secondaryDark2: #f7aa20;
$secondaryDark3: #031744;
$line: #e4e9f1;
$inputBg: #f2f5f9;
$carBg: #f7faff;
$white: #ffffff;
$offWhite: #fcfcfc;
$title: #031838;
$black: #000000;
$outlined: #1c2f4c;
$placeholder: #9ea3ac;
$author: #51a8db;
$background: #f7f7fc;
$error: #e01f2a;
$errorLight: #f4d9db;
$success: #0ec996;
$successLight: #ddf5ef;
$warning: #ffd749;
$warningLight: #f6ecd9;
$body: #2f415e;
$body2: #404040;
$label: #52627a;
$pageBg: #f4f6f9;
$plusIcon: #14142b;
$modalShadow: #111111;
$red: #ec0a23;
$lightBlue: #3f5a96;
$lightGrey: #9fa3ac;
$transparentBlue: #cfd6e5;
$transparentGrey: #e7e8ea;
$greyscale: #252525;
$supportSuccess: #26c649;
$greyscale2: #e4e9f1;
