@font-face {
  font-family: 'OpenSans';
  src: url('~/assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'OpenSans';
  src: url('~/assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('~/assets/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('~/assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('~/assets/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'KanyonLight';
  src: url('~/assets/fonts/Kanyon/Kanyon-Light.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Kanyon';
  src: url('~/assets/fonts/Kanyon/Kanyon-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'KanyonMedium';
  src: url('~/assets/fonts/Kanyon/Kanyon-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'KanyonBold';
  src: url('~/assets/fonts/Kanyon/Kanyon-Bold.otf') format('opentype');
}
