.wrapper {
  background-color: #ea5370;
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-between;
  padding: 0px 15px;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contentDetail {
  display: flex;
}

.wrapperMainIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  flex: none;
  border-radius: 50%;
}

.mainIcon {
  width: 19px;
  height: 19px;
}

.contentText {
  margin-left: 15px;
  font-size: 10px;
  font-family: var('--open-sans');
  font-weight: 500;
  color: #ffffff;
}

.redirectText {
  margin-left: 15px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.wrapperCloseButton {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  z-index: 3;
}

.iconDekstopRight {
  height: 64px;
}

.iconCustomLeft {
  display: none;
}

.iconCustomRight {
  display: none;
}

.iconCustomMobileRight {
  display: block;
  position: absolute;
  right: 0;
  z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    padding: 0px;
  }

  .iconCustomLeft {
    width: 125px;
    height: 64px;
    display: block;
  }

  .iconCustomRight {
    display: block;
  }

  .iconCustomMobileRight {
    display: none;
  }

  .content {
    margin: auto;
    width: auto;
  }

  .contentDetail {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .wrapperMainIcon {
    position: static;
  }

  .wrapperContent {
    display: flex;
    align-items: center;
    margin-left: 0px;
  }

  .contentText {
    margin: 0px 20px;
    font-size: 13px;
    font-family: var('--open-sans');
    font-weight: 500;
    color: #ffffff;
  }

  .redirectText {
    color: #ffffff;
    font-size: 14px;
    font-weight: '600';
    text-decoration: underline;
  }
}
