.container {
  margin: 40px 0px;
}

.flexRowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  font-size: 14px;
  font-family: var(--kanyon-bold);
}

.redirectText {
  font-size: 10px;
  font-family: var(--kanyon-bold);
  color: #246ed4;
  text-decoration: none;
}

.mainImage {
  width: 156px;
  height: 104px;
  object-fit: cover;
  border-radius: 5px;
}

.wrapperMainInfoMobile {
  display: flex;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.capsuleWrapper {
  border-radius: 15px;
  background-color: #eef6fb;
  padding: 4px 10px;
  width: fit-content;
}

.capsuleText {
  font-size: 8px;
  color: #52627a;
}

.dateText {
  font-size: 12px;
  color: #9ea3ac;
}

.titleText {
  font-size: 14px;
  color: #041736;
  font-weight: 400;
}

.selectorActive {
  background-color: #246ed4;
  width: 100%;
  height: 40px;
  font-size: 12px;
  color: #ffffff;
  border: none;
  font-family: var(--open-sans-semi-bold);
}

.selectorInActive {
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  font-size: 12px;
  color: #52627a;
  border: 0.5px solid #246ed4;
  font-family: var(--open-sans-semi-bold);
  margin-right: 10px;
  width: 100%;
}

.collectionArticle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.itemArticleMobile {
  display: flex;
  margin-bottom: 20px;
}

.itemArticleDekstop {
  display: none;
}

.subMainImage {
  width: 86px;
  height: 86px;
  object-fit: cover;
  border-radius: 5px;
}

.descSubText {
  font-size: 14px;
  color: #041736;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.category {
  margin: 10px 0px;
}

.wrapperMainInfoDekstop {
  display: none;
}

.navigationBackButton,
.navigationNextButton {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .flexRow {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .headerText {
    font-size: 20px;
  }

  .redirectText {
    font-size: 14px;
  }

  .mainArticle {
    width: 45%;
  }

  .subArticle {
    width: 50%;
    margin-left: 50px;
  }

  .mainImage {
    width: 470px;
    height: 265px;
  }

  .wrapperMainInfoMobile {
    display: none;
  }

  .wrapperMainInfoDekstop {
    display: block;
  }

  .capsuleText {
    font-size: 12px;
  }

  .dateText {
    margin: 5px 0px;
  }

  .titleText {
    margin: 10px 0px;
    font-size: 20px;
    font-family: var(--open-sans-semi-bold);
  }

  .descText {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
  }

  .wrapperButton {
    background-color: #eef6fb;
    padding: 8px 14px;
    font-size: 12px;
    font-family: var(--open-sans-semi-bold);
    border-width: 0.5px;
    color: #05256e;
    border-color: #05256e;
  }

  .category {
    width: 100%;
    margin: 0px;
    position: relative;
  }
  .selectorActive {
    font-size: 14px;
  }

  .selectorInActive {
    font-size: 14px;
  }

  .itemArticleMobile {
    display: none;
  }

  .itemArticleDekstop {
    display: block;
    width: 240px;
    margin-top: 20px;
  }

  .subMainImage {
    width: 240px;
    height: 134px;
  }

  .navigationBackButton {
    display: block;
    position: absolute;
    align-items: center;
    z-index: 3;
    margin-top: -20px;
    margin-left: -30px;
  }
  .navigationNextButton {
    display: block;
    position: absolute;
    align-items: center;
    z-index: 3;
    right: 0;
    margin-top: -20px;
    margin-right: -30px;
  }
}
