.container {
  margin: 20px 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.headerText {
  font-size: 14px;
  font-family: var(--kanyon-bold);
}

.redirectText {
  font-size: 10px;
  font-family: var(--kanyon-bold);
  color: #246ed4;
}

.brandList {
  display: flex;
  align-items: center;
  width: auto;
  overflow: auto;
  white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.brandList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.brandList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.brandActive {
  display: flex;
  align-items: center;
  width: 90px;
  height: 64px;
  border-radius: 5px;
  margin-right: 10px;
  border: 0.5px solid;
}

.brandInActive {
  display: flex;
  align-items: center;
  width: 90px;
  height: 64px;
  border-radius: 5px;
  margin-right: 10px;
  border: 0.5px solid #dddddd;
}

.brandImage {
  width: 90px;
  padding: 2px 10px;
  height: 40px;
  object-fit: contain;
  margin: auto;
}

.swipers {
  padding-left: 30px;
}

.carListWrapper {
  position: relative;
  height: auto;
  width: 100%;
}

.navigation {
  display: none;
}

.shadowSlider {
  width: 140px;
  height: 210px;
  display: flex;
  padding: 0px 0px 10px 10px;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapperLabel {
  padding-top: 10px;
}

.labelText {
  font-size: 10px;
  color: #404040;
}

.wrapperDesktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 40px 0px;
  }

  .headerText {
    font-size: 24px;
  }

  .redirectText {
    font-size: 14px;
  }

  .wrapperSwiper {
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .brand {
    width: 90px;
    height: 64px;
  }

  .swipers {
    padding-left: 30px;
  }

  .brandList {
    margin-right: 40px;
    margin-top: 10px;
    display: block;
  }

  .brandActive {
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .brandInActive {
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .brandImage {
    height: 44px;
    padding: 2px 10px;
    margin: auto;
  }

  .swiperWrap {
    margin-left: 13px;
  }
  .swipers {
    padding-left: 30px;
  }

  .carListWrapper {
    width: 86%;
    height: 376px;
    margin: 0px;
    position: relative;
  }

  .navigationBackButton {
    position: absolute;
    align-items: center;
    z-index: 3;
    margin-top: 110px;
    margin-left: -40px;
  }
  .navigationNextButton {
    position: absolute;
    align-items: center;
    z-index: 3;
    right: 0;
    margin-top: 110px;
    margin-right: -40px;
  }

  .wrapperDesktop {
    display: block;
  }

  .shadowSlider {
    width: 265px;
    height: 350px;
  }
}
