.shake-animation-X {
  animation: shake-animation-X 0.2s ease-in-out 0s 2;
}

.shake-animation-X-2 {
  animation: shake-animation-X 0.2s ease-in-out 0s 5;
}

@keyframes shake-animation-X {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}
