.wrapper {
  position: fixed;
  top: 30%;
  right: 0;
  display: flex;
  align-items: flex-start;
  z-index: 4;
}

.selectorImage {
  width: 30px;
  height: auto;
  margin-top: 25px;
  margin-right: -2px;
}

.contentImage {
  width: 188px;
  height: 220px;
  background-color: white;
  border-radius: 24px;
}

@media only screen and (min-width: 1024px) {
  .selectorImage {
    width: 50px;
    margin-top: 25px;
    margin-right: -2px;
  }

  .contentImage {
    width: 288px;
    height: 335px;
    border-radius: 35px;
  }
}
