.wrapper {
  background-color: #e4e9f1;
  max-width: 480px;
  margin: auto;
}

.content {
  width: 100%;
  margin: 0px;
  padding: 20px 17px;
}

.desc {
  font-size: 12px;
  line-height: 1.7;
  padding-top: 10px;
  font-family: var(--open-sans);
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.redirectText {
  color: #52627a;
  font-size: 14px;
  font-family: var(--open-sans);
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    max-width: none;
  }

  .content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 20px 17px;
  }

  .wrapperDesc {
    width: 35%;
  }

  .desc {
    padding: 10px 0px;
  }

  .wrapperInfo {
    width: 50%;
    margin-top: 0px;
    margin-right: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .redirectText {
    margin-bottom: 0px;
  }
}
