@use 'colors';

.dark {
  color: colors.$secondaryText;
}

.light {
  color: colors.$primarySkyBlue10;
}

$color-primary: blueviolet;

.test {
  color: red;
  font-family: 'Kanyon';
}

.title {
  color: $color-primary;
  border-bottom: solid 2px darken($color-primary, 10);
}
