body {
  font-family: var(--open-sans);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

a {
  text-decoration: none;
}

.swiper-button-disabled {
  display: none;
}
