@import './abstract/colors';
@import './abstract/mixins';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: var(--open-sans);
}

body {
  color: #{$primary-black};
  font-family: var(--open-sans);
  font-size: 16px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}
@media only screen and (max-width: 1024px) {
  h1,
  .h1 {
    @include h1;
    &.bold {
      @include h1(bold);
    }
  }

  h2,
  .h2 {
    @include h2;
    &.bold {
      @include h2(bold);
    }
  }

  h3,
  .h3 {
    @include h3;
    &.medium {
      @include h3(medium);
    }
  }

  p {
    font-size: 14px;
  }
}

button {
  outline: none;
  border: none;
}

.custom-modal .ant-modal-content {
  padding: 24px 7px 18px 24px;
  height: 100%;
  max-width: 434px;
}

.custom-modal-credit .ant-modal-content {
  padding: 0px 0px 0px 0px;
  height: 100%;
  max-width: 434px;
}

.custom-modal-result-sulit .ant-modal-content {
  padding: 24px 48px 24px 24px;
  height: 108px;
}

.custom-modal-result-mudah .ant-modal-content {
  padding: 24px 48px 24px 24px;
  height: 88px;
}

.custom-modal-result .ant-modal-content {
  padding: 24px 24px 24px 24px;
  height: 488px;
}

.custom-modal .ant-modal-close {
  top: 25px;
}

.city-selector-custom-modal .ant-modal-content {
  background: url('/revamp/illustration/supergraphic-mobile.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 24px 15px 25px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include centeredWithMaxWidth(343px);
}

.jumpa-pay-modal .ant-modal-content {
  background: white;
  background-image: url('/revamp/illustration/jumpa-pay-modal-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 24px 15px 25px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-custom-modal .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}

%customModal {
  position: relative;
  width: 100%;
  background: #{$primary-white};
  border-radius: 8px;
}

.share-custom-modal .ant-modal-content {
  @extend %customModal;
  padding: 40px 26px;
}

.share-custom-modal .ant-modal-body {
  width: 100%;
}

.full .ant-modal-body {
  width: 100%;
}

.full .ant-modal-content {
  @extend %customModal;
  padding: 0px;
}

.delete-account-custom-modal .ant-modal-content {
  @extend %customModal;
  padding: 48px 24px 24px;
}

.delete-account-custom-modal .ant-modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-account-custom-modal .ant-modal-close {
  top: 24px;
  right: 24px;
}

.csa-button {
  &.ant-float-btn {
    left: calc(50% + 142px);
    transform: translateX(-50%);
    inset-block-end: 32px;
    inset-inline-end: 17px;
  }

  &.ant-float-btn-circle {
    height: 56px !important;
    width: 56px !important;
  }

  .ant-float-btn-icon {
    margin-right: 12px !important;
    margin-top: 3px !important;
  }
}

.csa-button-homepage {
  @media (min-width: 570px) {
    &.ant-float-btn {
      left: calc(50% + 240px);
      transform: translateX(-50%);
    }
  }
}

.whatsapp-floating-button {
  z-index: 5;
  &.ant-float-btn {
    inset-block-end: 71px;
    inset-inline-end: 16px;
    background: #{$primary-white};
    box-shadow: 0px 2px 15px 1px rgba(108, 112, 133, 0.2);
  }

  &.ant-float-btn-circle {
    height: 56px !important;
    width: 56px !important;
    z-index: 5 !important;
  }

  .ant-float-btn-content {
    width: 100%;
  }

  .ant-float-btn-icon {
    width: 100% !important;
  }

  @media (min-width: 570px) {
    &.ant-float-btn {
      left: calc(50% + 240px);
      transform: translateX(-50%);
    }
  }
}

.plp-scroll {
  .infinite-scroll-component__outerdiv {
    width: 100%;
    max-width: 343px;

    padding-top: 24px;

    .infinite-scroll-component {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.price-input {
  .ant-input-affix-wrapper {
    border-color: #{$shades-grey-10} !important;

    &.ant-input-affix-wrapper-focused {
      border-color: #{$secondary-blue} !important;
    }
  }
}

.calculation-result {
  .ant-tooltip-inner {
    width: 320px;
  }
}

.ant-picker-content th {
  text-align: center;
}

:global(.ant-input::placeholder) {
  color: #{$shades-grey-50};
}

:global(.ant-input:focus) {
  box-shadow: none !important;
  border: 1px solid #{$secondary-blue} !important;
  outline: none !important;
}

:global(.ant-input:hover) {
  box-shadow: none !important;
  border: 1px solid #{$secondary-blue} !important;
  outline: none !important;
}

.ant-tooltip {
  max-width: 320px !important;
}

.errorForm :global(.ant-slider .ant-slider-track) {
  position: absolute;
  background-color: #b4231e;
  border-radius: 2px;
  transition: background-color 0.2s;
}

.errorFormCircle :global(.ant-slider .ant-slider-handle::after) {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #b4231e;
  border-radius: 50%;
  cursor: pointer;
  transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s,
    height 0.2s, box-shadow 0.2s;
}

.search-custom-modal {
  width: 100vw !important;
  top: 0;
  @include centeredWithMaxWidth;
}

.search-custom-modal .ant-modal-content {
  width: 100vw;
  // height: 100vh;
  margin: 0;
  top: 0;
  border-radius: 0;
  padding: 0;
  @include centeredWithMaxWidth;
}

.adm-picker {
  height: 200px !important;
}
.adm-picker-view-column-item-label {
  height: 18px !important;
}

.adm-mask {
  right: 0;
  @include centeredWithMaxWidth;
}

.adm-popup-body-position-bottom {
  right: 0;
  @include centeredWithMaxWidth;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake-animation-X {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}

.rotateAnimation {
  animation: rotate 1s linear infinite;
}

.shake-animation-X {
  animation: shake-animation-X 0.2s ease-in-out 0s 2;
}

.shake-animation-X-2 {
  animation: shake-animation-X 0.2s ease-in-out 0s 5;
}

.multiKKSliderError {
  .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 2px #{$primary-red};
  }
  .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #{$primary-red};
  }
}

[data-rsbs-overlay] {
  z-index: 99 !important;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

[data-rsbs-header] {
  padding: 0;
}

[data-rsbs-has-header='false'] [data-rsbs-header] {
  padding-top: 24px;
}

[data-rsbs-header]:before {
  height: 0;
}

[data-rsbs-backdrop] {
  z-index: 98;
}

.qualification-custom-modal .ant-modal-content {
  @include centeredWithMaxWidth(343.33px);
}
