@import './abstract/colors';
@import './abstract/mixins';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: var(--open-sans);
}

body {
  color: #{$primary-black};
  font-family: var(--open-sans);
  font-size: 16px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: 14px;
  }
}

h1,
.h1 {
  @include h1;
  &.bold {
    @include h1(bold);
  }
}

h2,
.h2 {
  @include h2;
  &.bold {
    @include h2(bold);
  }
}

h3,
.h3 {
  @include h3;
  &.medium {
    @include h3(medium);
  }
}

button {
  outline: none;
  border: none;
}

.custom-modal .ant-modal-content {
  padding: 24px 7px 18px 24px;
  height: 100%;
  max-width: 434px;
}

.custom-modal-credit .ant-modal-content {
  padding: 0px 0px 0px 0px;
  height: 100%;
  max-width: 434px;
}

.custom-modal-result-sulit .ant-modal-content {
  padding: 24px 48px 24px 24px;
  height: 108px;
}

.custom-modal-result-mudah .ant-modal-content {
  padding: 24px 48px 24px 24px;
  height: 88px;
}

.custom-modal-result .ant-modal-content {
  padding: 24px 24px 24px 24px;
  height: 488px;
}

.custom-modal-result-recommended .ant-modal-content {
  padding: 48px 24px 24px 24px;
}

.custom-modal .ant-modal-close {
  top: 25px;
}

.city-selector-custom-modal .ant-modal-content {
  background: url('/revamp/illustration/supergraphic-mobile.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 24px 15px 25px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include centeredWithMaxWidth(343px);
}

.jumpa-pay-modal .ant-modal-content {
  background: white;
  background-image: url('/revamp/illustration/jumpa-pay-modal-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 24px 15px 25px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-custom-modal .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}

%customModal {
  position: relative;
  width: 100%;
  background: #{$primary-white};
  border-radius: 8px;
}

.share-custom-modal .ant-modal-content {
  @extend %customModal;
  padding: 40px 26px;
}

.share-custom-modal .ant-modal-body {
  width: 100%;
}

.full .ant-modal-body {
  width: 100%;
}

.full .ant-modal-content {
  @extend %customModal;
  padding: 0px;
}

.delete-account-custom-modal .ant-modal-content {
  @extend %customModal;
  padding: 48px 24px 24px;
}

.delete-account-custom-modal .ant-modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-account-custom-modal .ant-modal-close {
  top: 24px;
  right: 24px;
}

.csa-button {
  &.ant-float-btn {
    left: calc(50% + 142px);
    transform: translateX(-50%);
    inset-block-end: 32px;
    inset-inline-end: 17px;
  }

  &.ant-float-btn-circle {
    height: 56px !important;
    width: 56px !important;
  }

  .ant-float-btn-icon {
    margin-right: 12px !important;
    margin-top: 3px !important;
  }
  @media (min-width: 570px) {
    &.ant-float-btn {
      left: calc(50% + 240px);
      transform: translateX(-50%);
    }
  }
}

.csa-button-homepage {
  @media (min-width: 570px) {
    &.ant-float-btn {
      left: calc(50% + 240px);
      transform: translateX(-50%);
    }
  }
}

.whatsapp-floating-button {
  z-index: 5;
  &.ant-float-btn {
    inset-block-end: 71px;
    inset-inline-end: 16px;
    background: #{$primary-white};
    box-shadow: 0px 2px 15px 1px rgba(108, 112, 133, 0.2);
  }

  &.ant-float-btn-circle {
    height: 56px !important;
    width: 56px !important;
    z-index: 5 !important;
  }

  .ant-float-btn-content {
    width: 100%;
  }

  .ant-float-btn-icon {
    width: 100% !important;
  }

  @media (min-width: 570px) {
    &.ant-float-btn {
      left: calc(50% + 240px);
      transform: translateX(-50%);
    }
  }
}

.plp-scroll {
  .infinite-scroll-component__outerdiv {
    width: 100%;
    max-width: 343px;

    padding-top: 24px;

    .infinite-scroll-component {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.price-input {
  .ant-input-affix-wrapper {
    border-color: #{$shades-grey-10} !important;

    &.ant-input-affix-wrapper-focused {
      border-color: #{$secondary-blue} !important;
    }
  }
}

.calculation-result {
  .ant-tooltip-inner {
    width: 320px;
  }
}

.ant-picker-content th {
  text-align: center;
}

:global(.ant-input::placeholder) {
  color: #{$shades-grey-50};
}

:global(.ant-input:focus) {
  box-shadow: none !important;
  border: 1px solid #{$secondary-blue} !important;
  outline: none !important;
}

:global(.ant-input:hover) {
  box-shadow: none !important;
  border: 1px solid #{$secondary-blue} !important;
  outline: none !important;
}

.ant-tooltip {
  max-width: 320px !important;
}

.errorForm :global(.ant-slider .ant-slider-track) {
  position: absolute;
  background-color: #b4231e;
  border-radius: 2px;
  transition: background-color 0.2s;
}

.errorFormCircle :global(.ant-slider .ant-slider-handle::after) {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #b4231e;
  border-radius: 50%;
  cursor: pointer;
  transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s,
    height 0.2s, box-shadow 0.2s;
}

.search-custom-modal {
  width: 100vw !important;
  top: 0;
  @include centeredWithMaxWidth;
}

.search-custom-modal .ant-modal-content {
  width: 100vw;
  // height: 100vh;
  margin: 0;
  top: 0;
  border-radius: 0;
  padding: 0;
  @include centeredWithMaxWidth;
}

.adm-picker {
  height: 200px !important;
}
.adm-picker-view-column-item-label {
  height: 18px !important;
}

.adm-mask {
  right: 0;
  @include centeredWithMaxWidth;
}

.adm-popup-body-position-bottom {
  right: 0;
  @include centeredWithMaxWidth;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake-animation-X {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}

.rotateAnimation {
  animation: rotate 1s linear infinite;
}

.shake-animation-X {
  animation: shake-animation-X 0.2s ease-in-out 0s 2;
}

.shake-animation-X-2 {
  animation: shake-animation-X 0.2s ease-in-out 0s 5;
}

.multiKKSliderError {
  .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 2px #{$primary-red};
  }
  .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #{$primary-red};
  }
}

[data-rsbs-overlay] {
  z-index: 99 !important;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  max-width: 570px;
  margin: 0 auto;
}

[data-rsbs-header] {
  padding: 0;
}

[data-rsbs-has-header='false'] [data-rsbs-header] {
  padding-top: 24px;
}

[data-rsbs-header]:before {
  height: 0;
}

[data-rsbs-backdrop] {
  z-index: 98;
}

.qualification-custom-modal .ant-modal-content {
  @include centeredWithMaxWidth(343.33px);
}

.ant-divider-horizontal {
  display: none !important;
}

.ant-select-focused.ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #246ed4 !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border-color: #246ed4 !important;
}

.ant-select-dropdown {
  padding: 0px !important;
}

.ant-select-dropdown
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: transparent;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  .ant-select-item-option-state {
    color: white !important;
    padding: 2px;
    border: 1px solid #05256e;
    border-radius: 4px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05256e;
    // background-color: white;
  }

  .ant-select-item-option-content {
    font-family: var(--open-sans) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
  }
  background: var(--shades-sky-blue-sky-blue-10, #eef6fb) !important;
}

.ant-select-item.ant-select-item-option {
  border-bottom: 1px solid #{$shades-grey-10};
  border-radius: 0;
  &:after {
    content: ' ';
    border: 1px solid #afb3ba;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    right: 16px;
  }
}

span.ant-select-selection-item {
  background-color: #{$shades-grey-5} !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  font-size: 12px;
  color: #{$shades-grey-75} !important;
  padding: 4px 8px !important;
  border: 0 !important;
  margin: 8px 0px 8px 8px !important;
  display: flex;
  align-items: center;
}

span.ant-select-selection-placeholder {
  font-size: 14px !important;
}

.csa-button-plp {
  &.ant-float-btn {
    left: calc(50% + 142px);
    transform: translateX(-50%);
    inset-block-end: 32px !important;
  }
}

.refinancing-custom-form-modal .ant-modal-content {
  padding: 0;
}

div.ant-collapse-content-box {
  padding: 16px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

div.collapse-header {
  padding: 24px 16px;
  padding-inline-start: 0;
}

div.ant-collapse-header {
  background-color: #f5f6f6 !important;
}

div.ant-collapse {
  border: 0;
}

div.ant-collapse-content.ant-collapse-content-active {
  border: 0 !important;
}
div.ant-collapse-item.ant-collapse-item-active {
  border: 0 !important;
}

.ant-collapse {
  border-radius: 0;
}
