.stepWrapper {
  background-color: #f3f5f9;
  border-radius: 10px;
  position: relative;
}

.backgroundLayer {
  position: absolute;
  width: 100%;
  height: 215px;
}

.vectorBlueRounded {
  width: 138px;
  height: auto;
  position: absolute;
  transform: rotate(-90deg);
  left: -30px;
  bottom: -80px;
  opacity: 0.3;
  z-index: 1;
}

.vectorRedRounded {
  width: 86px;
  height: auto;
  position: absolute;
  transform: rotate(-90deg);
  right: -15px;
  top: -24px;
  transform: rotate(-90deg);
  opacity: 0.8;
  z-index: 1;
}

.foreGroundLayer {
  padding: 17px 23px;
  position: relative;
  z-index: 2;
}

.stepDetail {
  margin-top: 20px;
  z-index: 2;
}

.detailWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.info {
  margin-left: 20px;
  width: 200px;
}

.headerText {
  font-size: 14px;
  color: #05256e;
  font-family: var(--kanyon-bold);
}

.bundleIcon {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #ffffff;
}

.icon {
  width: 32px;
  height: 32px;
  margin: auto;
}

.titleText {
  font-size: 14px;
  font-family: KanyonMedium;
}

.descText {
  font-size: 12px;
}

@media only screen and (min-width: 1024px) {
  .backgroundLayer {
    position: absolute;
    width: 100%;
    height: 215px;
  }

  .vectorBlueRounded {
    width: 138px;
    height: auto;
    position: absolute;
    transform: rotate(-90deg);
    left: -30px;
    bottom: -80px;
    opacity: 0.3;
    z-index: 1;
  }

  .vectorRedRounded {
    width: 86px;
    height: auto;
    position: absolute;
    transform: rotate(-90deg);
    right: -15px;
    top: -24px;
    transform: rotate(-90deg);
    opacity: 0.8;
    z-index: 1;
  }

  .foreGroundLayer {
    padding: 40px;
  }

  .stepDetail {
    display: flex;
    justify-content: flex-start;
    margin-top: 36px;
  }

  .detailWrapper {
    margin-bottom: 0px;
  }

  .info {
    margin-left: 10px;
    width: 80%;
  }

  .headerText {
    font-size: 24px;
    text-align: center;
  }

  .bundleIcon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .titleText {
    font-size: 18px;
  }

  .descText {
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
  }

  .separator {
    margin-left: 30px;
  }
}
