@font-face {
  font-family: 'OpenSans';
  src: url('/revamp/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('/revamp/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('/revamp/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('/revamp/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'KanyonLight';
  src: url('/revamp/fonts/Kanyon/Kanyon-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Kanyon';
  src: url('/revamp/fonts/Kanyon/Kanyon-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'KanyonMedium';
  src: url('/revamp/fonts/Kanyon/Kanyon-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'KanyonBold';
  src: url('/revamp/fonts/Kanyon/Kanyon-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

input {
  outline: none;
}

button {
  background: none;
}

a {
  text-decoration: none;
}

.swiper-button-disabled {
  display: none !important;
}

.shake-animation-X {
  animation: shake-animation-X 0.2s ease-in-out 0s 2;
}

.shake-animation-X-2 {
  animation: shake-animation-X 0.2s ease-in-out 0s 5;
}

@keyframes shake-animation-X {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}
