body {
  font-family: 'OpenSans';
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('/assets/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('/assets/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'KanyonLight';
  src: url('/assets/fonts/Kanyon/Kanyon-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Kanyon';
  src: url('/assets/fonts/Kanyon/Kanyon-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'KanyonMedium';
  src: url('/assets/fonts/Kanyon/Kanyon-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'KanyonBold';
  src: url('/assets/fonts/Kanyon/Kanyon-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

input {
  outline: none;
}

button {
  background: none;
}

a {
  text-decoration: none;
}

.swiper-button-disabled {
  display: none !important;
}
