.wrapper {
  background-color: #f2f5f9;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 19px;
}

.descText {
  font-size: 10px;
  padding-left: 10px;
}

.locText {
  font-weight: 600;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  color: #404040;
  font-size: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    display: none;
  }
}
