.bgWrapper {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 330px;
  max-width: 250px;
  z-index: 2;
}

.closeModal {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  color: #ffffff;
  font-size: 20px;
  font-family: var(--kanyon-bold);
  text-align: center;
}

.link {
  text-decoration: none;
  background-color: #ffffff;
  color: #05256e;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  font-family: var(--kanyon-bold);
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
