.modalLocation {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapperLocator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bgImageMobile {
  width: 300px;
  height: 388px;
  position: absolute;
}

.bgImageDekstop {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
  max-width: 250px;
  z-index: 2;
}

.closeModal {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

.test {
}

.mobileHeader {
  margin-top: 45px;
}

.dekstopHeader {
  display: none;
}

.headerText {
  font-size: 20px;
  font-family: var(--kanyon-bold);
  color: #ffffff;
  text-align: center;
}

.suggestedLocation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.descText {
  margin-top: 10px;
  font-size: 16px;
  font-family: var(--kanyon-bold);
  color: #ffffff;
}

.wrapperInput {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 264px;
  margin-top: 10px;
}

.input {
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  margin-left: 10px;
}

.wrapperList {
  width: 264px;
  background-color: #ffffff;
  height: min-content;
  max-height: 138px;
  position: absolute;
  border-radius: 5px;
  top: 94%;
  overflow-x: auto;
  padding: 5px;
}

.list {
  width: 100%;
  font-size: 12px;
  padding: 9px 8px;
  border: none;
  text-align: start;
  background-color: #ffffff;
}

.list:hover {
  background-color: #cbe5f4;
  border-radius: 3px;
}

@media only screen and (min-width: 1024px) {
  .modalLocation {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .bgImage {
    display: none;
  }

  .bgImageDekstop {
    display: block;
    width: 740px;
    height: 390px;
    position: absolute;
  }

  .info {
    width: 690px;
    max-width: none;
  }

  .mobileHeader {
    display: none;
  }

  .dekstopHeader {
    display: block;
    margin-top: 50px;
  }

  .headerText {
    font-size: 24px;
  }

  .suggestedLocation {
    max-width: 250px;
    margin: 20px 0px;
  }

  .wrapperInput {
    width: 360px;
  }

  .wrapperList {
    width: 360px;
  }
}
