.container {
  margin: 40px 0px 15px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerText {
  font-size: 14px;
  font-family: var(--kanyon-bold);
  margin: 10px 0px;
}

.redirectText {
  font-size: 10px;
  font-family: var(--kanyon-bold);
  color: #246ed4;
}

.wrapperType {
  display: flex;
  padding: 10px 2px;
  overflow-x: scroll;
  white-space: nowrap;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.wrapperType::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapperType {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.recommendationWrapper {
  position: relative;
}

.shadowSlider {
  width: 140px;
  height: 210px;
}

@media only screen and (min-width: 1024px) {
  .headerText {
    font-size: 24px;
  }

  .redirectText {
    font-size: 14px;
  }

  .recommendationWrapper {
    position: relative;
    margin: 0px 40px 0px 30px;
  }
  .navigationBackButton {
    position: absolute;
    align-items: center;
    z-index: 3;
    margin-top: 110px;
    margin-left: -40px;
  }

  .navigationNextButton {
    position: absolute;
    align-items: center;
    z-index: 3;
    right: 0;
    margin-top: 110px;
    margin-right: -40px;
  }
}
