.wrapper {
  background-color: #246ed4;
  position: relative;
  width: 100%;
  height: 165px;
}

.fgLayer {
  display: flex;
}

.info {
  position: absolute;
  z-index: 3;
  padding: 24px 16px 18px;
}

.headerText {
  font-size: 16px;
  font-family: var(--kanyon-bold);
  color: #ffffff;
}

.descText {
  width: 190px;
  font-size: 14px;
  color: #ffffff;
  margin: 5px 0px;
}

.button {
  font-size: 12px;
  color: #ffffff;
  font-family: var(--kanyon-bold);
  outline: none;
  border: none;
  background-color: #002373;
  border-radius: 5px;
  padding: 9px 20px;
  margin-top: 5px;
  cursor: pointer;
}

.wrapperBgImage {
  position: absolute;
  z-index: 1;
  right: 25%;
}

.circleImage {
  width: 350px;
  height: 165px;
}

.wrapperImage {
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 2;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    display: none;
  }
}
