.wrapperSearch {
  background-color: #ffffff;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0px 20px;
  height: 100%;
  overflow: hidden;
}

.wrapperInput {
  display: flex;
  align-items: center;
  border: 0.5px solid #52627a;
  border-radius: 15px;
  height: 46px;
  top: 20px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
  background-color: #ffffff;
  position: relative;
}

.input {
  display: flex;
  width: 95%;
  background-color: #ffffff;
  font-family: var(--kanyon);
  font-size: 16px;
  line-height: 24px;
  padding-left: 8px;
  padding-bottom: 3px;
  outline: none;
  border: none;
}

.wrapperListVariant {
  max-height: 210px;
  position: absolute;
  border-radius: 10px;
  top: 80px;
  left: 20px;
  right: 20px;
  overflow-x: auto;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.list {
  display: flex;
  font-size: 16px;
  padding: 16px;
  border: none;
  text-align: start;
  cursor: pointer;
  color: #404040;
  background-color: #ffffff;
}

.list:hover {
  background-color: #cbe5f4;
  border-radius: 3px;
}

.iconChevronLeft {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .wrapperSearch {
    display: none;
  }
}
