.container {
  margin: 40px 0px 15px 0px;
}

.testimonyWrapper {
  margin-top: 15px;
  position: relative;
}

.headerText {
  font-size: 14px;
  font-family: var(--kanyon-bold);
  margin: 20px 0px;
}

.wrapperInfo {
  width: 100%;
  background: linear-gradient(rgba(5, 37, 110, 0) 0%, rgb(3, 26, 79) 100%);
  bottom: 0;
  padding: 16px;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
}

.swiperMobile {
  display: block;
}

.swiperDesktop {
  display: none;
}

.card {
  width: 295px;
  height: auto;
  margin-bottom: 15px;
}

.imagesWrapper {
  display: flex;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.name {
  font-size: 10px;
  font-family: var(--open-sans-semi-bold);
  color: white;
}

.date {
  font-size: 8px;
  color: white;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
}

.star {
  margin-right: 3px;
}

.desc {
  font-size: 14px;
  box-shadow: rgb(3 24 56 / 25%) 0px 1px 16px;
  border-radius: 0px 0px 5px 5px;
  margin: 0px 15px;
  padding: 15px 16px;
  height: 155px;
  background-color: #f2f5f9;
}

.navigation {
  display: none;
}

.shadowSlide {
  width: 295px;
}

@media only screen and (max-width: 360px) {
  .card {
    width: 270px;
  }
}

@media only screen and (min-width: 1024px) {
  .headerText {
    font-size: 20px;
  }

  .wrapperInfo {
    border-radius: 0px 0px 20px 20px;
  }

  .card {
    width: 340px;
  }

  .testimonyWrapper {
    margin-top: 15px;
    position: relative;
    margin: 0px 40px 0px 30px;
  }

  .image {
    width: 340px;
    border-radius: 20px;
  }

  .name {
    font-size: 14px;
  }

  .date {
    font-size: 14px;
  }

  .desc {
    margin: 0px 15px;
    font-size: 16px;
    padding: 20px 16px;
  }

  .navigationBackButton {
    position: absolute;
    align-items: center;
    z-index: 3;
    margin-top: 110px;
    margin-left: -40px;
  }
  .navigationNextButton {
    position: absolute;
    align-items: center;
    z-index: 3;
    right: 0;
    margin-top: 110px;
    margin-right: -40px;
  }

  .swiperDesktop {
    display: block;
  }

  .shadowSlide {
    width: 360px;
    height: 350px;
  }
}
