.wrapper {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 10px;
  width: 80%;
  height: 40%;
}

.video {
  width: 100%;
  height: 100%;
}

.buttonClose {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .content {
    padding: 10px;
    width: 80%;
    height: 70%;
  }
}
