.form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 13px 10px;
}

.wrapperInputPhone {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: #52627a;
  border-width: 0.5px;
  background-color: #ffffff;
  border-radius: 5px;
}

.input {
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: var(--kanyon);
  font-size: 12x;
  line-height: 24px;
  border: none;
}

.input:focus {
  outline: none;
  border: none;
}

.phoneDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.labelRegion {
  font-size: 12px;
  font-family: var(--kanyon-bold);
  padding-left: 5px;
}

.separator {
  height: 22px;
  width: 2px;
  margin: 0px 8px;
  background-color: #9ea3ac;
}

.wrapperRow {
  display: flex;
  flex-direction: row;
}

.wrapperLeft {
  width: 100%;
  position: relative;
}

.wrapperRight {
  width: 100%;
  position: relative;
  margin-left: 10px;
}

.title {
  font-size: 14px;
  color: #404040;
  font-family: var(--kanyon-bold);
}

.desc {
  font-size: 12px;
  color: #404040;
  margin: 8px 0px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
}

.tenureActive {
  background-color: #f2f5f9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 35.09px;
  line-height: 22px;
  color: #52627a;
  cursor: pointer;
  margin-right: 5px;
  border: 0.3px solid #002373;
}

.tenureInActive {
  background-color: #f2f5f9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 35.09px;
  border: '0.5px solid #05256E';
  line-height: 22px;
  color: #52627a;
  cursor: pointer;
  margin-right: 5px;
  outline: none;
  border: none;
}

.advanceSearch {
  font-size: 12px;
  padding-top: 10px;
  color: #246ed4;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  width: 120px;
  align-items: center;
}

.iconDropDown {
  padding-left: 5px;
  padding-top: 3px;
}

.button {
  width: 100%;
  line-height: 24px;
  background-color: #002373;
  color: #eef6fb;
  font-size: 14px;
  font-family: var(--kanyon-bold);
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 0px;
}

.iconDropdown {
  fill: red;
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border: 0.3px solid #52627a;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  outline: none;
}

.selectorError {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border: 0.3px solid #e01f29;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  outline: none;
  animation: horizontal-shaking 0.35s 1;
}

.infoErrorText {
  font-family: var(--open-sans);
  font-size: 10px;
  color: #e01f29;
  padding-top: 4px;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.list {
  background-color: #ffffff;
  padding: 5px;
  position: absolute;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  height: min-content;
  max-height: 175px;
  overflow-y: scroll;
}

.placeholderText {
  font-size: 12px;
  width: 90%;
  height: 100%;
  padding: 5px;
  border: none;
}

.placeholderText:disabled {
  background-color: #ffffff;
}

.placeholderText:focus {
  outline: none;
}

.swiper {
  position: absolute;
  z-index: 1;
}

.wrapperForm {
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin: 20px;
  box-shadow: rgb(3 24 56 / 10%) 0px 1px 16px;
}

.wrapperDesktop {
  display: none;
}

.wrapperMobile {
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  z-index: 3;
  border: 0.3px solid #52627a;
  margin-right: 10px;
}

.buttonIncome {
  outline: none;
  border: none;
  text-align: start;
  background-color: #ffffff;
  padding: 8px;
}

.buttonIncome:hover {
  background-color: #cbe5f4;
  border-radius: 5px;
}

.buttonListText {
  font-size: 12px;
  font-weight: 400;
  color: #404040;
  text-align: center;
}

.paginationBullet {
  margin-bottom: 160px !important;
}
@media only screen and (min-width: 1024px) {
  .container {
    position: relative;
    height: auto;
  }

  .banner {
    width: 100%;
    height: 416px;
    border-radius: 15px;
  }

  .form {
    width: 340px;
    margin-top: 0px;
    display: block;
  }

  .wrapperDesktop {
    display: block;
  }

  .wrapperMobile {
    display: none;
  }

  .wrapperForm {
    top: 2%;
  }

  .list::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  .list::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .list::-webkit-scrollbar-thumb {
    background: #e4e9f1;
    border-radius: 20px;
  }
}
